@import url("../layout/header.css");


#app{
    background-image: url('/public/img/back_image3.jpg');
    background-size: 100%;
    overflow: hidden;
    background-attachment: fixed;
    min-height: 100vh;
    opacity: 0.8;
}


.app_container{
    width: 60%;
    margin-left: 100px;
}

.home_container{
    overflow: hidden;
}