@import url("../layout/header.css");
@import url("../layout/right_menu.css");


#app{
    background-image: url('/public/img/back_image3.jpg');
    background-size: 100%;
    overflow: hidden;
    background-attachment: fixed;
    min-height: 100vh;
    opacity: 0.8;
}

.content {
    display: flex;
}

.header_container {
    z-index: 1;  
}
.app_container{
    width: 60%;
    margin-left: 100px;
}



.hide {
    transform: translateX(100%);
    opacity: 0;
}

.home_container{
    overflow: hidden;
}

.right_container {
    width: 30%;
    margin: 10vh 5% 0 5%;
    background-color: red;
    opacity: 0.5;
}