.main_index_container {
    height: 300vh;
}

.main_index_home {
    height: 90vh;
    background-color: red;
    opacity: 0.5;
    overflow:hidden;
    margin-top: 10vh;
}

.main_index_content {
    height: 90vh;
    width: auto;
    background-color: red;
    opacity: 0.5;
    margin-top: 10vh;
}